.input-group-text {
    border-right: none;
}

.form-control:not(.input-checklist) {
    border-left: none;
}

.input-checklist {
    font-size: 5vh;
    font-weight: bold;
    border: none;
    box-shadow: none;
}

.input-checklist:focus {
    border: none;
    box-shadow: none;
}

.input-checklist#description {
    font-size: 2vh;
}

.itemConcluded {
    color: gray;
    opacity: 0.5;
    text-decoration: line-through;
}